* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.jumbotron {
	height: 100vh;
	background-image: url("../img/jumbo1.jpeg");
	background-repeat: none;
	background-size: cover;
}


.jumbocontainer {
	background-color: lightblue;
	opacity: 0.8;
	padding: 25px;
	margin-top: 160px;
	border-radius: 25px;


}

.jumbocontainer:hover {
	opacity: 1;
}

.icon1 {
	color: grey;
	margin-right: 30px;
}


.nav-link	{
	text-align: right;
}

.jumboh1 {
	font-family: 'Coiny', cursive;
}

.jumboh2 {
	font-family: 'Indie Flower', cursive;
}

.hook {
	font-family: 'Righteous', cursive;
}

