* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-link	{
	text-align: right;
}

.container {
	background-color: #B9DCF2;

}

.colleft {
	margin-top: 25px;
}

.colright {
	margin-top: 25px;
}

button {
	margin-bottom: 25px;
}

