* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.footer {
	background-color: #827160;
	width: 100%;
	height: 5%;
}

.col1, .col2, .col3 {
	border: 2px solid lightgrey;
}

.educ-article {
	margin-top: 52px;
}




