* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.jumbotron {
	height: 100vh;
	background-image: url("../img/testtank3.jpg");
	background-repeat: none;
	background-size: cover;
}

.jumbocontainer {
	background-color: lightblue;
	opacity: 0.5;
	padding: 25px;
	margin-top: 230px;
	border-radius: 25px;
}

.jumbocontainer:hover {
	opacity: 0.8;
}


.nav-link	{
	text-align: right;
}

.jumboh1 {
	font-family: 'Coiny', cursive;
}

.jumboh2 {
	font-family: 'Indie Flower', cursive;
}

.hook {
	font-family: 'Righteous', cursive;
}

/*for mobile*/
@media only screen and (max-width: 450px) {
	.jumbocontainer {
		width: 95%;
		margin-top: 210px;
	}
	.jumboh1 {
		font-size: 3rem;
	}
	.jumboh2 {
		font-size: 1.5rem;
	}

	.hook {
		font-size: 1rem;
	}

}

/*for tablet*/
@media only screen and (min-width: 451px)
and (max-width: 768px) {
	.jumbocontainer {
		width: 95%;
		margin-top: 240px;
	}
	.jumboh1 {
		font-size: 4rem;
	}
	.jumboh2 {
		font-size: 2rem;
	}

	.hook {
		font-size: 1rem;
	}
	
}

/*for desktop*/
@media only screen and (min-width: 769px) {
	.jumbocontainer {
		
		margin-top: 200px;
	}
	.jumboh1 {
		font-size: 5rem;
	}
	.jumboh2 {
		font-size: 3rem;
	}

	.hook {
		font-size: 2rem;
	}
}

