* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.articlecontainer {
	height: 100%;
	background-image: url("../img/rock1.jpg");
	background-repeat: none;
	background-size: cover;
}

footer {
	background-color: #827160;
}




