* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'ABeeZee', sans-serif;

}

.mainrow {
	height: 100%;
	background-color: ;
}

footer {
	background-color: #827160;
}

.modal-header {
	background-color: lightgrey;
}

.modal-footer {
	background-color: lightgrey;
}


.articlecontainer {
	height: 100%;
	background-image: url("../img/rock1.jpg");
	background-repeat: none;
	background-size: cover;
}

#card {
	background-color: lightgrey;

}

.footer {
	background-color: #827160;
	width: 100%;
	height: 5%;
	font-size: small;
}

.ace-copy {
	margin-top: 55px;
}

/*for mobile*/
@media only screen and (max-width: 450px) {
	

	.sources2 {
	margin-top: 0;
	} 

	#card {
	background-color: lightgrey;
	margin-bottom: 12px;
	}

	.ace-copy {
	margin-top: 0;
	}
}

/*for tablet*/
@media only screen and (min-width: 451px)
and (max-width: 768px) {
	

	.sources2 {
	margin-top: 20px;
	}

	#card {
	background-color: lightgrey;
	margin-bottom: 15px;
	}

	.ace-copy {
	margin-top: 0px;
    }
}

/*for desktop*/
@media only screen and (min-width: 769px) {

	.sources2 {
	margin-top: 20px;
	}
}
