* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'ABeeZee', sans-serif;
}

.articlecontainer {
	height: 100%;
	background-image: url("../img/rock1.jpg");
	background-repeat: none;
	background-size: cover;
}

.footer {
	background-color: #827160;
	width: 100%;
	
	font-size: small;
}

.card {
	margin-top: 15px;
	margin-bottom: 15px;
}

.row3 {
	margin-top: 10px;
}

.ace-copy {
	margin-top: 55px;
}

.sources2 {
	margin-top: 20px;
	}

/*for mobile*/
@media only screen and (max-width: 450px) {
	

	.sources2 {
	margin-top: 0;
	} 

	#card {
	background-color: lightgrey;
	margin-bottom: 12px;
	}

	.ace-copy {
	margin-top: 0;
	}
}

/*for tablet*/
@media only screen and (min-width: 451px)
and (max-width: 768px) {
	

	.sources2 {
	margin-top: 20px;
	}

	#card {
	background-color: lightgrey;
	margin-bottom: 15px;
	}

	.ace-copy {
	margin-top: 0px;

}

/*for desktop*/
@media only screen and (min-width: 769px) {

	.sources2 {
	margin-top: 20px;
	}
}


